<p>gestion-compte works!</p>
<!--affichage du solde du compte-->
<div>
    <label>Solde actuel:</label>
    {{soldeActuel | currency:'EUR':true:'1.2-2'}} 
</div>

<!--formulaire de depot-->

<form [formGroup]="montantDepot" (ngSubmit)="deposer()">
    <div>
        <label for="depot">Montant à déposer : </label>
        <input type="number" id="depot" name="depot" formControlName="montant">
    </div>
    <button type="button" (click)="tadam()"> tadam </button>
    <button type="submit"> Deposer votre argent ! </button>
</form>

<!--Formulaire retirer argent-->

<form [formGroup]="montantDepot" (ngSubmit)="retirer()">
    <div>
        <label for="retire">Montant à retirer : </label>
        <input type="number" id="retire" name="retire" formControlName="montant">
    </div>
    <button type="submit" (click)="tadam()"> tadam </button>
    <button type="submit"> Retirer votre argent ! </button>
</form>
